<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include("../blocks/head.ejs") %>
  <!-- End Head -->
  <style>
    .input-with-icon {
      position: relative;
    }

    .field-icon {
      margin-right: 30px;
      position: absolute;
      right: 0;
      top: 65%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .form-control {
      padding-right: 30px;
    }
  </style>

  <body>
    <div class="wrapper sidebar_minimize">
      <div class="main-header">
        <!-- Logo Header -->
        <%- include("../blocks/logoheader.ejs") %>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <%- include("../blocks/navbarheader.ejs") %>
        <!-- End Navbar -->
      </div>
      <!-- Sidebar -->
      <%- include("../blocks/sidebar.ejs") %>
      <!-- End Sidebar -->

      <!-- Main Board-->
      <div class="main-panel">
        <div class="content">
          <div class="page-inner">
            <div class="page-header">
              <h4 class="page-title">ReadingApp</h4>
            </div>
            <form style="width: 650px" method="post" action="/user/updateAdmin/<%= admin._id %>">
              <div class="form-group input-with-icon">
                <label>Tài khoản</label>
                <input required="required" type="text" value="<%= admin.TaiKhoan %>" class="form-control" name="TaiKhoan" placeholder="<%= admin.TaiKhoan %>" />
                <small class="form-text text-muted">Tên tài khoản là unique</small>
              </div>
              <div class="form-group input-with-icon">
                <label>Họ Tên</label>
                <input required="required" type="text" value="<%= admin.HoTen %>" class="form-control" name="HoTen" placeholder="<%= admin.HoTen %>" />
              </div>
              <div class="form-group input-with-icon">
                <label>Email</label>
                <input required="required" type="email" value="<%= admin.Email %>" class="form-control" name="Email" placeholder="<%= admin.Email %>" />
              </div>
              <div class="col-lg-4 col-md-9 col-sm-12">
                <br />
                <button class="btn btn-success">Update</button>
                <button class="btn btn-danger">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Main Board-->
    </div>
    <!--   Core JS Files   -->
    <script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../../assets/js/core/popper.min.js"></script>
    <script src="../../assets/js/core/bootstrap.min.js"></script>
    <!-- jQuery UI -->
    <script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <!-- Bootstrap Notify -->
    <script src="../../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <!-- jQuery Scrollbar -->
    <script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <!-- Atlantis JS -->
    <script src="../../assets/js/atlantis.min.js"></script>
    <!-- Atlantis DEMO methods, don't include it in your project! -->
    <script src="../../assets/js/setting-demo2.js"></script>
    <script>
      var text = "<%= message %>";
      if (text == 0) {
        $.notify(
          {
            icon: "flaticon-alarm-1",
            title: "ReadingApp",
            message: "Cập nhật thông tin tài khoản thất bại",
          },
          {
            type: "danger",
            placement: {
              from: "top",
              align: "center",
            },
            time: 1000,
          }
        );
      }
    </script>
    <script>
      // Lấy ra các elements cần sử dụng
      const inputPasswords = document.querySelectorAll(".input-password");
      const togglePasswords = document.querySelectorAll(".toggle-password");

      // Xử lý cho từng element
      togglePasswords.forEach((togglePassword, index) => {
        togglePassword.addEventListener("click", (event) => {
          const inputPassword = inputPasswords[index];
          inputPassword.type = inputPassword.type === "password" ? "text" : "password";
        });
      });
    </script>
  </body>
</html>
