<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("../blocks/head.ejs") %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  .input-with-icon {
    position: relative;
  }

  .field-icon {
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .theloai {
    column-count: 5;
    column-width: 130px;
    column-gap: 10px;
  }

  .form-control {
    padding-right: 30px;
  }
</style>

<body>
  <div class="wrapper">
    <div class="main-header">
      <!-- Logo Header -->
      <%- include("../blocks/logoheader.ejs") %>
      <!-- End Logo Header -->

      <!-- Navbar Header -->
      <%- include("../blocks/navbarheader.ejs") %>
      <!-- End Navbar -->
    </div>
    <!-- Sidebar -->
    <%- include("../blocks/sidebar.ejs") %>
    <div class="main-panel">
      <div class="content">
        <div class="page-inner">
          <div class="page-header">
            <h4 class="page-title">ReadingApp</h4>
            <ul class="breadcrumbs">
              <li class="nav-home">
                <a href="/">
                  <i class="flaticon-home"></i>
                </a>
              </li>
              <li class="separator">
                <i class="flaticon-right-arrow"></i>
              </li>
              <li class="nav-item">
                <a href="/story">Danh sách truyện</a>
              </li>
              <li class="separator">
                <i class="flaticon-right-arrow"></i>
              </li>
              <li class="nav-item">
                <a href="/story/create">Thêm truyện</a>
              </li>
            </ul>
          </div>
          <form style="width: 650px" method="post" action="/story/update/<%= truyen._id %>">
            <div class="form-group input-with-icon">
              <label for="TenTruyen">Tên Truyện</label>
              <input required="required" type="text" class="form-control" name="TenTruyen" placeholder="<%= truyen.TenTruyen %>" value="<%= truyen.TenTruyen %>" />
            </div>
            <div class="form-group">
              <label for="GioiThieu">Mô tả</label>
              <textarea class="form-control custom-textarea" rows="8" name="GioiThieu"><%= truyen.GioiThieu %></textarea>
            </div>
            <div class="form-group input-with-icon">
              <label for="AnhBia">Link ảnh</label>
              <input required="required" type="text" class="form-control" name="AnhBia" placeholder="<%= truyen.AnhBia %>" value="<%= truyen.AnhBia %>" />
            </div>
           
            <div class="col-lg-4 col-md-9 col-sm-12">
              <br />
              <button class="btn btn-success">Update</button>
              <button class="btn btn-danger">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../../assets/js/core/jquery.3.2.1.min.js"></script>
  <script src="../../assets/js/core/popper.min.js"></script>
  <script src="../../assets/js/core/bootstrap.min.js"></script>
  <!-- jQuery UI -->
  <script src="../../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
  <script src="../../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>
  <!-- Bootstrap Notify -->
  <script src="../../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

  <!-- jQuery Scrollbar -->
  <script src="../../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
  <!-- Atlantis JS -->
  <script src="../../assets/js/atlantis.min.js"></script>
  <!-- Atlantis DEMO methods, don't include it in your project! -->
  <script src="../../assets/js/setting-demo2.js"></script>

  <script>
    var text = '<%= message %>';
    if (text == 0) {
      $.notify({
        icon: "flaticon-alarm-1",
        title: "ReadingApp",
        message: "Cập nhật truyện thành công",
      }, {
        type: "danger",
        placement: {
          from: "top",
          align: "center",
        },
        time: 1000,
      });
    }
  </script>
</body>

</html>